:root {

	--primary-color: #01121C;
	--secondary-color: #3CAC9E;

	--main-font: 'Open Sans Condensed', sans-serif;
	--second-font: 'Playfair Display', serif;
	--third-font: 'Josefin Sans', sans-serif;

}
